apiVersion: 1

datasources:
  - name: Prometheus
    uid: PBFA97CFB590B2093
    type: prometheus
    access: proxy
    orgId: 1
    url: {{ .PrometheusURL }}
    basicAuth: false
    isDefault: true
    editable: true
{{- if .TempoURL }}
  - name: Tempo
    type: tempo
    access: proxy
    orgId: 1
    url: {{ .TempoURL }}
    basicAuth: false
    isDefault: false
    editable: true
    jsonData:
      httpMethod: GET
      tracesToLogs:
        datasourceUid: 'Prometheus'
        spanStartTimeShift: '1h'
        spanEndTimeShift: '1h'
        filterByTraceID: true
{{- end }}
