output_dir = "."
chain = "{{ .Network }}"
retain = {{ .Retain }}
num_proofs = {{ .NumProofs }}

[proof_engine]
url = "{{ .ZkboostInfo.HTTP_URL }}"
proof_types = [{{ range $pt := .ProofTypes }}"{{ $pt }}", {{ end }}]
webhook_port = 3000

[[el_endpoints]]
name = "{{ .ELClientInfo.FullName }}"
url = "{{ .ELClientInfo.EL_HTTP_URL }}"
ws_url = "{{ .ELClientInfo.EL_WS_URL }}"

[[cl_endpoints]]
name = "{{ .HeadSubscriptionCLInfo.FullName }}"
url = "{{ .HeadSubscriptionCLInfo.CL_HTTP_URL }}"

{{ range $clClient := .ZkvmCLClientInfo }}
[[cl_endpoints]]
name = "{{ $clClient.FullName }}"
url = "{{ $clClient.CL_HTTP_URL }}"
{{ end }}
