port = 3000
webhook_url = "{{ .EWSInfo.HTTP_URL }}/proofs"

{{ range $zkvm := .Zkvms }}
[[zkvm]]
program_id = "{{ $zkvm.ProgramId }}"

{{- if $zkvm.Endpoint }}
endpoint = "{{ $zkvm.Endpoint }}"
{{- end }}

{{- if $zkvm.MockProvingTimeMs }}
mock_proving_time_ms = {{ $zkvm.MockProvingTimeMs }}
{{- end }}

{{- if $zkvm.MockProofSize }}
mock_proof_size = {{ $zkvm.MockProofSize }}
{{- end }}

{{ end }}
