chain = "{{ .Network }}"

[pbs]
port = {{ .Port }}

{{ range $index, $relay := .Relays }}
[[relays]]
id = "mev_relay_{{$index}}"
url = "{{ $relay }}"
{{- end }}

[logs]
log_level = "debug"
max_log_files = 7
