chain = { genesis_time_secs = {{ .Timestamp }}, path = "{{ .Network }}" }

[pbs]
port = {{ .Port }}
host = "0.0.0.0"

{{ range $index, $relay := .Relays }}
[[relays]]
id = "mev_relay_{{$index}}"
url = "{{ $relay }}"
{{- end }}
