- mnemonic: "{{ .PreregisteredValidatorKeysMnemonic }}"  # a 24 word BIP 39 mnemonic
  # Number of validator keys to preregister inside the outputted CL genesis.ssz
  count: {{ .NumValidatorKeysToPreregister }}