logging: "info"
metricsAddr: ":{{ .ListenPortNum }}"

{{- if .SourceEndpoints }}
source:
  retryInterval: 30s
  nodeRecords:
{{- range $endpoint := .SourceEndpoints }}
    - "{{ $endpoint }}"
{{- end }}
{{- end }}

target:
  retryInterval: 30s
  nodeRecords:
{{- range $endpoint := .TargetEndpoints }}
    - "{{ $endpoint }}"
{{- end }}
