addr: ":{{ .ListenPortNum }}"

source:
  nodeRecords:
{{- range $index, $endpoint := .ExecutionEndpoints }}
    - "{{ $endpoint.URL }}"
{{- end }}

target:
  nodeRecords:
{{- range $index, $endpoint := .ExecutionEndpoints }}
    - "{{ $endpoint.URL }}"
{{- end }}
