export PRESET_BASE="{{ .Preset }}"
export CHAIN_ID="{{ .NetworkId }}"
export DEPOSIT_CONTRACT_ADDRESS="{{ .DepositContractAddress }}"
export EL_AND_CL_MNEMONIC="{{ .PreregisteredValidatorKeysMnemonic }}"
export CL_EXEC_BLOCK="0"
export SLOT_DURATION_IN_SECONDS={{ .SecondsPerSlot }}
export DEPOSIT_CONTRACT_BLOCK="0x0000000000000000000000000000000000000000000000000000000000000000"
export NUMBER_OF_VALIDATORS={{ .NumValidatorKeysToPreregister }}
export GENESIS_FORK_VERSION="{{ .GenesisForkVersion }}"
export ALTAIR_FORK_VERSION="{{ .AltairForkVersion }}"
export ALTAIR_FORK_EPOCH="{{ .AltairForkEpoch }}"
export BELLATRIX_FORK_VERSION="{{ .BellatrixForkVersion }}"
export BELLATRIX_FORK_EPOCH="{{ .BellatrixForkEpoch }}"
export CAPELLA_FORK_VERSION="{{ .CapellaForkVersion }}"
export CAPELLA_FORK_EPOCH="{{ .CapellaForkEpoch }}"
export DENEB_FORK_VERSION="{{ .DenebForkVersion }}"
export DENEB_FORK_EPOCH="{{ .DenebForkEpoch }}"
export ELECTRA_FORK_VERSION="{{ .ElectraForkVersion }}"
export ELECTRA_FORK_EPOCH="{{ .ElectraForkEpoch }}"
export FULU_FORK_VERSION="{{ .FuluForkVersion }}"
export FULU_FORK_EPOCH="{{ .FuluForkEpoch }}"
export EIP7732_FORK_VERSION="{{ .Eip7732ForkVersion }}"
export EIP7732_FORK_EPOCH="{{ .Eip7732ForkEpoch }}"
export EIP7805_FORK_VERSION="{{ .Eip7805ForkVersion }}"
export EIP7805_FORK_EPOCH="{{ .Eip7805ForkEpoch }}"
export WITHDRAWAL_TYPE="0x00"
export WITHDRAWAL_ADDRESS=0xf97e180c050e5Ab072211Ad2C213Eb5AEE4DF134
export GENESIS_TIMESTAMP={{ .UnixTimestamp }}
export GENESIS_DELAY={{ .GenesisDelay }}
export GENESIS_GASLIMIT={{ .GenesisGasLimit }}
export MAX_PER_EPOCH_ACTIVATION_CHURN_LIMIT={{ .MaxPerEpochActivationChurnLimit }}
export CHURN_LIMIT_QUOTIENT={{ .ChurnLimitQuotient }}
export EJECTION_BALANCE={{ .EjectionBalance }}
export ETH1_FOLLOW_DISTANCE={{ .Eth1FollowDistance }}
export SHADOW_FORK_FILE={{ .ShadowForkFile }}
export MIN_VALIDATOR_WITHDRAWABILITY_DELAY={{ .MinValidatorWithdrawabilityDelay }}
export SHARD_COMMITTEE_PERIOD={{ .ShardCommitteePeriod }}
export DATA_COLUMN_SIDECAR_SUBNET_COUNT={{ .DataColumnSidecarSubnetCount }}
export SAMPLES_PER_SLOT={{ .SamplesPerSlot }}
export CUSTODY_REQUIREMENT={{ .CustodyRequirement }}
export MAX_BLOBS_PER_BLOCK_ELECTRA={{ .MaxBlobsPerBlockElectra }}
export TARGET_BLOBS_PER_BLOCK_ELECTRA={{ .TargetBlobsPerBlockElectra }}
export BASEFEE_UPDATE_FRACTION_ELECTRA={{ .BaseFeeUpdateFractionElectra }}
export ADDITIONAL_PRELOADED_CONTRACTS={{ .AdditionalPreloadedContractsFile }}
export EL_PREMINE_ADDRS={{ .PrefundedAccounts }}
export MAX_PAYLOAD_SIZE={{ .MaxPayloadSize }}
export BPO_1_EPOCH="{{ .Bpo1Epoch }}"
export BPO_1_MAX_BLOBS={{ .Bpo1MaxBlobs }}
export BPO_1_TARGET_BLOBS={{ .Bpo1TargetBlobs }}
export BPO_1_BASE_FEE_UPDATE_FRACTION={{ .Bpo1BaseFeeUpdateFraction }}
export BPO_2_EPOCH="{{ .Bpo2Epoch }}"
export BPO_2_MAX_BLOBS={{ .Bpo2MaxBlobs }}
export BPO_2_TARGET_BLOBS={{ .Bpo2TargetBlobs }}
export BPO_2_BASE_FEE_UPDATE_FRACTION={{ .Bpo2BaseFeeUpdateFraction }}
export BPO_3_EPOCH="{{ .Bpo3Epoch }}"
export BPO_3_MAX_BLOBS={{ .Bpo3MaxBlobs }}
export BPO_3_TARGET_BLOBS={{ .Bpo3TargetBlobs }}
export BPO_3_BASE_FEE_UPDATE_FRACTION={{ .Bpo3BaseFeeUpdateFraction }}
export BPO_4_EPOCH="{{ .Bpo4Epoch }}"
export BPO_4_MAX_BLOBS={{ .Bpo4MaxBlobs }}
export BPO_4_TARGET_BLOBS={{ .Bpo4TargetBlobs }}
export BPO_4_BASE_FEE_UPDATE_FRACTION={{ .Bpo4BaseFeeUpdateFraction }}
export BPO_5_EPOCH="{{ .Bpo5Epoch }}"
export BPO_5_MAX_BLOBS={{ .Bpo5MaxBlobs }}
export BPO_5_TARGET_BLOBS={{ .Bpo5TargetBlobs }}
export BPO_5_BASE_FEE_UPDATE_FRACTION={{ .Bpo5BaseFeeUpdateFraction }}
