log_json = true
log_level = "info,rbuilder=debug"
redacted_telemetry_server_port = 6061
redacted_telemetry_server_ip = "0.0.0.0"
full_telemetry_server_port = 6060
full_telemetry_server_ip = "0.0.0.0"

chain = "{{ .Network }}"
reth_datadir = "{{ .DataDir }}"

coinbase_secret_key = "{{ .SecretKey }}"
relay_secret_key = "{{ .SecretKey }}"
optimistic_relay_secret_key = "{{ .SecretKey }}"

# cl_node_url can be a single value, array of values, or passed by an environment variables with values separated with a comma
cl_node_url = ["{{ .CLEndpoint }}"]
jsonrpc_server_port = 8645
jsonrpc_server_ip = "0.0.0.0"
el_node_ipc_path = "/tmp/reth.ipc"
extra_data = "🐼⚡🤖"
genesis_fork_version = "{{ .GenesisForkVersion }}"

ignore_cancellable_orders = true

sbundle_mergeable_signers = []
live_builders = ["mp-ordering", "mgp-ordering"]

enabled_relays = ["flashbots"]

root_hash_use_sparse_trie=true
root_hash_compare_sparse_trie=false

{{- if ne (printf "%v" .Subsidy) "0" }}
subsidy = "{{ .Subsidy }}"
{{- end }}


[[relays]]
name = "flashbots"
url = "http://{{ .PublicKey }}@{{ .Relay }}:{{ .RelayPort }}"
priority = 0
use_ssz_for_submit = false
use_gzip_for_submit = false


[[builders]]
name = "mgp-ordering"
algo = "ordering-builder"
discard_txs = true
sorting = "mev-gas-price"
failed_order_retries = 1
drop_failed_orders = true

[[builders]]
name = "mp-ordering"
algo = "ordering-builder"
discard_txs = true
sorting = "max-profit"
failed_order_retries = 1
drop_failed_orders = true

[[builders]]
name = "parallel"
algo = "parallel-builder"
discard_txs = true
num_threads = 25
