global:
  scrape_interval: 15s
scrape_configs:
  {{- range $job := .MetricsJobs }}
  - job_name: "{{ $job.Name }}"
    metrics_path: "{{ $job.MetricsPath }}"
    {{- if $job.ScrapeInterval }}
    scrape_interval: {{ $job.ScrapeInterval }}
    {{- end }}
    static_configs:
      - targets: ['{{ $job.Endpoint }}']
        labels:{{ range $labelName, $labelValue := $job.Labels }}
          {{ $labelName }}: "{{ $labelValue }}"
        {{- end }}
  {{- end }}
