global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
   {{ range $clNode := .CLNodesMetricsInfo }}
   - job_name: '{{ $clNode.name }}'
     metrics_path: {{ $clNode.path }}
     static_configs:
       - targets: ['{{ $clNode.url }}']
   {{ end }}