server:
  http_listen_port: {{ .HTTPPort }}
  grpc_listen_port: {{ .GRPCPort }}

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:{{ .OTLPGRPCPort }}
        http:
          endpoint: 0.0.0.0:{{ .OTLPHTTPPort }}

ingester:
  trace_idle_period: 10s
  max_block_duration: 5m

storage:
  trace:
    backend: local
    wal:
      path: /tmp/tempo/wal
    local:
      path: /tmp/tempo/traces
    block:
      bloom_filter_false_positive: 0.05
    blocklist_poll: 5m

overrides:
  defaults:
    ingestion:
      rate_limit_bytes: {{ .IngestionRateLimit }}
      burst_size_bytes: {{ .IngestionBurstLimit }}
    global:
      max_bytes_per_trace: {{ .MaxBytesPerTrace }}
    read:
      max_search_duration: {{ .MaxSearchDuration }}

stream_over_http_enabled: true
