stream_over_http_enabled: true

server:
  http_listen_port: {{ .HTTPPort }}

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:{{ .OTLPGRPCPort }}
        http:
          endpoint: 0.0.0.0:{{ .OTLPHTTPPort }}

storage:
  trace:
    backend: local
    wal:
      path: /tmp/tempo/wal
    local:
      path: /tmp/tempo/traces
