el_endpoint = "{{ .ELEndpoint }}"
witness_timeout_secs = {{ .WitnessTimeoutSecs }}
proof_timeout_secs = {{ .ProofTimeoutSecs }}
proof_cache_size = {{ .ProofCacheSize }}
witness_cache_size = {{ .WitnessCacheSize }}
{{ range $zkvm := .Zkvms }}
[[zkvm]]
kind = "{{ $zkvm.Kind }}"
proof_type = "{{ $zkvm.ProofType }}"
{{- if eq $zkvm.Kind "external" }}
endpoint = "{{ $zkvm.Endpoint }}"
{{- end }}
{{- if eq $zkvm.Kind "mock" }}
mock_proving_time_ms = {{ $zkvm.MockProvingTimeMs }}
mock_proof_size = {{ $zkvm.MockProofSize }}
{{- end }}
{{ end }}
