port = {{ .Port }}
el_engine_endpoint = "{{ .ELEngineEndpoint }}"
cl_beacon_endpoint = "{{ .CLBeaconEndpoint }}"
validator_keystore_path = "{{ .ValidatorKeystorePath }}"
validator_keystore_password_path = "{{ .ValidatorKeystorePasswordPath }}"

[dashboard]
enabled = {{ .DashboardEnabled }}
retention = {{ .DashboardRetention }}
{{ range $zkvm := .Zkvms }}
[[zkvm]]
kind = "{{ $zkvm.Kind }}"
proof_type = "{{ $zkvm.ProofType }}"
proof_timeout_secs = {{ $zkvm.ProofTimeoutSecs }}
endpoint = "{{ $zkvm.Endpoint }}"
{{- if eq $zkvm.Kind "cluster" }}
elf_url = "{{ $zkvm.ElfUrl }}"
{{- end }}
{{ end }}
