{{ $increments := .num_validator_keys_per_node }}
{{ $startIndex := 0 }}

{{ range $clClient := .CLClientInfo }}
{{ $clClient }}
{{ $startIndex }}-{{ $increments }}: {{ $clClient.beacon_service_name }}
{{ end }}
