log_color = true
log_level = "info,rbuilder=debug"

chain = "{{ .Chain }}"
reth_datadir = "{{ .RethDatadir }}"

coinbase_secret_key = "0x01eca4838fd748535ff365be185f5acb19c5ac8d35e37b5f8a16acb2ca1ec6f7"
relay_secret_key = "0x01eca4838fd748535ff365be185f5acb19c5ac8d35e37b5f8a16acb2ca1ec6f7"
cl_node_url = [{{ range $clNode := .ClNodes }}
  "http://{{ $clNode.ip_addr }}:{{ $clNode.http_port }}",
{{- end }}]
jsonrpc_server_port = 8645
jsonrpc_server_ip = "0.0.0.0"
el_node_ipc_path = "{{ .RethDatadir }}/reth.ipc"
extra_data = "luban-protocol-builder"

blocklist_file_path = "/app/config/blocklist.json"

dry_run = false
dry_run_validation_url = "http://localhost:8545"

# blocks_processor_url = "http://block_processor.internal"
ignore_cancellable_orders = true

sbundle_mergeabe_signers = []
watchdog_timeout_sec = 600
# slot_delta_to_start_submits_ms is usually negative since we start bidding BEFORE the slot start
#slot_delta_to_start_submits_ms = -5000
live_builders = ["mgp-ordering-preconf"]

[[relays]]
name = "helix"
url = "{{ .HelixRelayUrl }}"
priority = 0
use_ssz_for_submit = false
use_gzip_for_submit = false

[[builders]]
name = "mgp-ordering-preconf"
algo = "preconf-builder"
discard_txs = true
sorting = "mev-gas-price"
failed_order_retries = 1
drop_failed_orders = true
coinbase_payment = true

[[builders]]
name = "mgp-ordering"
algo = "ordering-builder"
discard_txs = true
sorting = "mev-gas-price"
failed_order_retries = 1
drop_failed_orders = true