
logging:
  outputLevel: "info"

# Chain network configuration
chain:
  name: {{ .Network }}
{{ if not .PublicNetwork }}
  configPath: "/network-configs/config.yaml"
{{ end }}
  displayName: "{{ .Network }}"

# HTTP Server configuration
server:
  host: "0.0.0.0" # Address to listen on
  port: "8080" # Port to listen on

frontend:
  enabled: true # Enable or disable to web frontend
  debug: false
  pprof: true
  minimize: false # minimize html templates

  # Name of the site, displayed in the title tag
  siteName: "Dora the Explorer"
  siteSubtitle: "{{ .Network }} - Kurtosis"

  # link to EL Explorer
  ethExplorerLink: ""

  # file or inventory url to load validator names from
  validatorNamesYaml: "/validator-ranges/validator-ranges.yaml"

beaconapi:
  # CL Client RPC
  endpoints:
{{ range $clClient := .CLClientInfo }}
    - url: "{{ $clClient.Beacon_HTTP_URL }}"
      name: "{{ $clClient.FullName }}"
      archive: true
{{- end }}
  # local cache for page models
  localCacheSize: 10 # 10MB

  # remote cache for page models
  redisCacheAddr: ""
  redisCachePrefix: ""

executionapi:
  endpoints:
{{ range $elClient := .ELClientInfo }}
    - url: "{{ $elClient.Execution_HTTP_URL }}"
      name: "{{ $elClient.FullName }}"
      archive: true
{{- end }}
  depositLogBatchSize: 1000

# indexer keeps track of the latest epochs in memory.
indexer:
  # max number of epochs to keep in memory
  inMemoryEpochs: 8

  # number of epochs to wait before storing unfinalized blocks to db
  cachePersistenceDelay: 8

  # disable synchronizing and everything that writes to the db (indexer just maintains local cache)
  disableIndexWriter: false

  # number of seconds to wait between each epoch (don't overload CL client)
  syncEpochCooldown: 1

mevIndexer:
  # list of mev relays to crawl mev blocks from
  relays: {{ if not .MEVRelayInfo }}[]{{ end }}
{{ range $relay := .MEVRelayInfo }}
    - index: {{ $relay.Index }}
      name: "{{ $relay.Name }}"
      url: "{{ $relay.Url }}"
{{- end }}
  refreshInterval: 5m

database:
  engine: "sqlite"
  sqlite:
    file: "/dora-database.sqlite"
