name: Run k8s test

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *'

concurrency:
  group: "scheduled-test"
  cancel-in-progress: false

jobs:
  run_k8s_test:
    strategy:
      matrix:
        payload:
          - { name: "minimal", file: "./.github/tests/minimal.yaml" }
          - { name: "network-params", file: "./network_params.yaml" }
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup minikube
        id: minikube
        uses: medyagh/setup-minikube@e3c7f79eb1e997eabccc536a6cf318a2b0fe19d9 # v0.0.20

      - name: Get kubeconfig
        id: kubeconfig
        shell: bash
        run: |
          cat ~/.kube/config > kubeconfig
          echo "kubeconfig=$(cat kubeconfig | base64 -w 0)" >> $GITHUB_OUTPUT

      # run kurtosis test and assertoor
      - name: Run kurtosis testnet
        id: testnet
        uses: ethpandaops/kurtosis-assertoor-github-action@5932604b244dbd2ddb811516b516a9094f4d2c2f # v1
        with:
          kurtosis_extra_args: "--image-download always --non-blocking-tasks --verbosity DETAILED"
          kurtosis_backend: "kubernetes"
          kubernetes_config: "${{ steps.kubeconfig.outputs.kubeconfig }}"
          kubernetes_cluster: "minikube"
          kubernetes_storage_class: "standard"
          ethereum_package_branch: ""
          ethereum_package_args: "${{ matrix.payload.file }}"
          ethereum_package_url: "$GITHUB_WORKSPACE"
          enclave_name: "ethereum-package-${{ matrix.payload.name }}-${{ github.run_id }}"
          persistent_logs: "true"

      - name: Check if Discord Webhook is Set
        id: check_discord_webhook
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          if [ -z "$DISCORD_WEBHOOK" ]; then
            echo "discord_webhook_set=false" >> $GITHUB_ENV
          else
            echo "discord_webhook_set=true" >> $GITHUB_ENV
          fi

      - name: Notify
        if: (cancelled() || failure()) && env.discord_webhook_set == 'true'
        uses: Ilshidur/action-discord@d2594079a10f1d6739ee50a2471f0ca57418b554 # dependabot/npm_and_yarn/axios-1.3.4-08d9328
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          args: "The k8s nightly/per PR test for ${{matrix.payload.name}} on ethereum-package has failed. Find it here: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
