
endpoints:
{{ range $client := .ClientInfo }}
- name: "{{ $client.Name }}"
  consensusUrl: "{{ $client.CL_HTTP_URL }}"
  executionUrl: "http://{{ $client.ELIPAddr }}:{{ $client.ELPortNum }}"
  {{- if .ELSnooperEnabled }}
  executionSnooperUrl: "{{ $client.ELSnooperUrl }}"
  {{- end }}
  {{- if .CLSnooperEnabled }}
  consensusSnooperUrl: "{{ $client.CLSnooperUrl }}"
  {{- end }}
{{- end }}

web:
  server:
    host: "0.0.0.0"
    port: 8080
  frontend:
    enabled: true
    debug: true
    pprof: true
  api:
    enabled: true

validatorNames:
  inventoryYaml: "/validator-ranges/validator-ranges.yaml"

globalVars:
  walletPrivkey: "850643a0224065ecce3882673c21f56bcf6eef86274cc21cadff15930b59fc8c"
  clientPairNames:
{{- range $client := .ClientInfo }}
  - "{{ $client.Name }}"
{{- end }}
  validatorPairNames: {{ if eq (len .ValidatorClientInfo) 0 }}[]{{ end }}
{{- range $client := .ValidatorClientInfo }}
  - "{{ $client.Name }}"
{{- end }}
  elSnooperClientPairNames: {{ if eq (len .ElSnooperClientInfo) 0 }}[]{{ end }}
{{- range $client := .ElSnooperClientInfo }}
  - "{{ $client.Name }}"
{{- end }}
  clSnooperClientPairNames: {{ if eq (len .ClSnooperClientInfo) 0 }}[]{{ end }}
{{- range $client := .ClSnooperClientInfo }}
  - "{{ $client.Name }}"
{{- end }}

externalTests:
{{- if .RunStabilityCheck }}
- file: /tests/stability-check.yaml
{{- end }}
{{- if .RunBlockProposalCheck }}
- file: /tests/block-proposal-check.yaml
{{- end }}
{{- if .RunTransactionTest }}
- file: /tests/eoa-transactions-test.yaml
{{- end }}
{{- if .RunBlobTransactionTest }}
- file: /tests/blob-transactions-test.yaml
{{- end }}
{{- if .RunOpcodesTransactionTest }}
- file: /tests/all-opcodes-transaction-test.yaml
{{- end }}
{{- if .RunLifecycleTest }}
- file: /tests/validator-lifecycle-test.yaml
{{- end }}
{{- range $test := .AdditionalTests }}
- {{ $test }}
{{- end }}
